@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;800&display=swap");

:root {
  --main-bg: hsl(217, 54%, 11%);
  --card-bg: hsl(216, 50%, 16%);
  --line: hsl(215, 32%, 27%);
  --soft-blue: hsl(215, 51%, 70%);
  --cyan: hsl(178, 100%, 50%);
}
html {
  font-size: 18px;
  font-family: "Outfit", sans-serif;
}

body {
  background-color: var(--main-bg);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  > main {
    box-sizing: border-box;
    width: 37%;
    height: 95vh;
    background-color: var(--card-bg);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    > .top {
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */

      margin: 0 auto;
      margin-top: 3.7em;
      border-bottom: 1px solid var(--line);
      width: 350px;
      > img {
        width: 350px;
        height: 350px;
        border-radius: 1em;
        margin: 0 auto;
        margin-top: -3.5em;
      }
      > h1 {
        color: white;
        font-weight: 400;
        font-size: 1.2em;
      }
      > p {
        width: 350px;
        margin: 0 auto;
        color: var(--soft-blue);
        font-weight: 300;
      }
      > .flex {
        display: flex;
        gap: 150px;
        > h2 {
          color: var(--cyan);
          font-size: 0.9em;
          font-weight: 500;
        }
        > p {
          color: var(--soft-blue);
          font-size: 0.8em;
        }
      }
    }
    > .bottom {
      > img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid white;
      }
    }
  }

  > footer {
    position: absolute;
    bottom: 0;
    > .attribution {
      font-size: 11px;
      text-align: center;
    }
    > .attribution a {
      color: hsl(228, 45%, 44%);
    }
  }
}
